<html>
  <style>
    body {
      font-size: 15pt;
      font-family: "Times New Roman";
    }
  </style>

  <body>
    <h1>Explore the following actions!</h1>
    <p><a href="/functions/restaurants">Get recommended restaurants in NYC!</a></p>

    <h1>View User Profile</h1>
    <p><a href="/userpage/userinfo">View Your User Homepage</a></p>
    <!-- <form method="POST" action="/add">
      <p>Name of new computer scientist: <input type="text" name="name" /> <input type="submit" value="Add" /></p>
    </form> -->
  </body>
</html>
