<!-- this is restaurant page {{info}} -->
<!-- TODO: Change this later -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<style>
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
  }
</style>
<h1>{% block title %}{{info[1]}}{% endblock %}</h1>
<div class="row">
  <div class="column">
    <h3>Information</h3>
    <div>Restaurant id: {{info[0]}}</div>
    <div>Phone Number: {{info[2]}}</div>
    <div>Cuisine Description: {{info[3]}}</div>
  </div>
  <div class="column">
    <h3>Location</h3>
    <div>Address: {{info[-1]}}, {{info[-2]}}, {{info[-4]}}</div>
    <div>Zipcode: {{info[7]}}</div>
  </div>
</div>
<!-- Handle button color -->
<form method="post">
  {%if state.value == 2%}
  <input type="submit" name="likebutton" value="Like" />
  <input type="submit" name="dislikebutton" value="Dislike" />
  {%elif state.value == 0%}
  <input type="submit" name="likebutton" value="Like" style="background-color: #ffbf00" />
  <input type="submit" name="dislikebutton" value="Dislike" />
  {%else%}
  <input type="submit" name="likebutton" value="Like" />
  <input type="submit" name="dislikebutton" value="Dislike" style="background-color: #ffbf00" />
  {%endif%}
</form>
<div>
  {%if feel%} {%if feel[0][0] == 'Like'%} You liked this restaurant! {%else%} You hated this restaurant!
  {%endif%}{%endif%}
</div>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>
<h3>Comments</h3>
<form method="post">
  <label for="comment">Post your comments here!</label>
  <input name="comment" id="comment" required />
  <input type="submit" name="post" value="Post" />
</form>
<table>
  {%if rev%}
  <tr>
    <th>User</th>
    <th>Comments</th>
    <th>Time</th>
  </tr>
  {%endif%} {% for n in rev %}
  <tr>
    <td>{{n[0]}}</td>
    <td>{{n[1]}}</td>
    <td>{{n[2]}}</td>
  </tr>
  {% endfor %}
</table>
