this is restaurant script
<h1>{% block title %}Search for your restaurants!{% endblock %}</h1>
<form method="post">
  <label for="district">District</label>
  <select name="district" id="district">
    <option value="Manhattan">Manhattan</option>
    <option value="Bronx">Bronx</option>
    <option value="Queens">Queens</option>
    <option value="Brooklyn">Brooklyn</option>
    <option value="Staten Island">Staten Island</option>
  </select>
  <input type="submit" value="Search" />
</form>
<table>
  {%if data%}
  <tr>
    <th>Restaurant ID</th>
    <th>Name</th>
    <th>Cuisine Description</th>
    <th>Details</th>
  </tr>
  {%endif%} {% for n in data %}
  <tr>
    <td>{{n[0]}}</td>
    <td>{{n[1]}}</td>
    <td>{{n[2]}}</td>
    <td><a href="{{ url_for('functions.page', rid=n[0]) }}">click here for details</a></td>
  </tr>
  {% endfor %}
</table>
<!-- <div> 
  {% for n in data %}
  <div>{{n[0]}}</div>
  {% endfor %}
</div> -->
