<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='my.css') }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    
<body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">NYC RestaurantDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/functions/restaurants">Restaurant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/functions/violations">Inspections and Violations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help/helppage">Help</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown dropstart">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/userpage/userinfo">My Page</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

        <!-- place a hidden field somewhere in your template to "hold" your data -->
        <div class="container bm-5 tm-5">
            <div class="halfspacer"></div>
            <h2> <i class="bi bi-bar-chart-line"></i> Inspection Statistics</h2>
            <!-- stats display -->
            <div class="row">
                <div class="col">
                    <div>
                        <canvas id="InspectTypeChart" width="500" height="500"></canvas>
                    </div>
                    {% block javascript %}
                    <script>
                        const data = {
                            labels: [{% for item in stats %}
                            "{{item[0]}}",
                            {% endfor %}
                            ],
                            datasets: [{
                                label: 'My First Dataset',
                                data: [{% for item in stats %}
                            "{{item[1]}}",
                            {% endfor %}
                            ],
                                backgroundColor: [
                                'rgb(88, 24, 69)',
                                'rgb(144, 12, 63)',
                                'rgb(199, 0, 57)',
                                'rgb(255, 87, 51)',
                                'rgb(255, 195, 0)',
                                'rgb(218, 247, 166)',
                                'rgb(40, 116, 166 )',
                                'rgb(66, 69, 156)',
                                'rgb(66, 156, 107)',
                                'rgb(23, 165, 137)',
                                'rgb(132, 99, 230)',
                                'rgb(177, 64, 147)',
                                ],
                                hoverOffset: 4
                            }]
                        };
                        const config = {
                            type: 'pie',
                            data: data,
                            options:{responsive:false}
                        };
                    </script>
                    {% endblock %}

                    <script>
                    const myChart = new Chart(
                        document.getElementById('InspectTypeChart'),
                        config
                    );
                    </script>
                </div>
                <div class="col">               
                    <table class="table">
                        {%if stats%}
                        <tr>
                            <th>Inspection Type</th>
                            <th>Number of Inspections</th>
                            <th>Number of Violation Records</th>
                            <th>Percentage</th>
                        </tr>
                        {%endif%} {% for i in stats %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                            <td>{{'%0.2f'| format((i[2]/i[1])*100|float)}}%</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="halfspacer"></div>
            <!-- stats2 display -->
            <div class="row">
                <div class="col">
                    <div style="padding-left: 10%">
                        <canvas id="ViolationCriticalChart" width="300" height="300"></canvas>
                    </div>
                    {% block javascript2 %}
                    <script>
                        const data2 = {
                            labels: [{% for item in stats2 %}
                            "{{item[0]}}",
                            {% endfor %}
                            ],
                            datasets: [{
                                label: 'My Second Dataset',
                                data: [{% for item in stats2 %}
                            "{{item[1]}}",
                            {% endfor %}
                            ],
                                backgroundColor: [
                                'rgb(199, 0, 57)',
                                'rgb(255, 87, 51)',
                                'rgb(255, 195, 0)',
                                'rgb(218, 247, 166)',
                                'rgb(40, 116, 166 )',
                                'rgb(23, 165, 137)',
                                ],
                                hoverOffset: 4
                            }]
                        };
                        const config2 = {
                            type: 'pie',
                            data: data2,
                            options:{responsive:false}
                        };
                    </script>
                    {% endblock %}

                    <script>
                    const myChart2 = new Chart(
                        document.getElementById('ViolationCriticalChart'),
                        config2
                    );
                    </script>
                </div>
                <div class="col">               
                    <table class="table">
                        {%if stats2%}
                        <tr>
                            <th>Violation Critical Level</th>
                            <th>Number of Inspections</th>
                        </tr>
                        {%endif%} {% for i in stats2 %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="halfspacer"></div>
            <!-- stats3 display -->
            <div class="row">
                <div class="col">
                    <div>
                        <canvas id="ViolationDistrictChart" width="400" height="400"></canvas>
                    </div>
                    {% block javascript3 %}
                    <script>
                        const data3 = {
                            labels: [{% for item in stats3 %}
                            "{{item[0]}}",
                            {% endfor %}
                            ],
                            datasets: [{
                                label: 'Violations by Districts',
                                data: [{% for item in stats3 %}
                            "{{'%0.2f'| format((item[2]/item[1])*100|float)}}",
                            {% endfor %}
                            ],
                                backgroundColor: [
                                'rgb(199, 0, 57)',
                                'rgb(255, 87, 51)',
                                'rgb(255, 195, 0)',
                                'rgb(23, 165, 137)',
                                'rgb(40, 116, 166 )',
                                ],
                                hoverOffset: 4
                            }]
                        };
                        const config3 = {
                            type: 'bar',
                            data: data3,
                            options: {
                                scales: {
                                y: {
                                    beginAtZero: true
                                }
                                },
                                responsive:false
                            },
                            };
                    </script>
                    {% endblock %}

                    <script>
                    const myChart3 = new Chart(
                        document.getElementById('ViolationDistrictChart'),
                        config3
                    );
                    </script>
                </div>
                <div class="col">       
                    <table class="table">
                        {%if stats3%}
                        <tr>
                            <th>District</th>
                            <th>Number of Inspections</th>
                            <th>Number of Violations</th>
                            <th>Percentage</th>
                        </tr>
                        {%endif%} {% for i in stats3 %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                            <td>{{'%0.2f'| format((i[2]/i[1])*100|float)}}%</td>
                        </tr>
                        {% endfor %}
                    </table> 
                </div>
            </div>
        </div>

        <div class="container">
            <div class="spacer"></div>
            <h2><i class="bi bi-search"></i> Look Up Violations of Restaurants:</h2>
            <div class="container">
                <!-- quick lookup guide -->
                <div class="row align-items-start">
                    <div class="halfspacer"></div>
                    <div class="col-md-auto">
                        <h4>Quick Lookup Guide:</h4>
                    </div>
                    <!-- quick lookup buttons -->
                    <div class="col-md-auto">
                        <form method="post">
                            <button type="submit" class="btn btn-outline-primary"  value="Most Recent" name="btn_mostRecent">Most Recent 10 Violations</button>
                        </form>
                    </div>
                    <div class="col-md-auto">
                        <form method="post">
                            <button type="submit" class="btn btn-outline-primary"  value="Most Critical" name="btn_mostCritical">Most Recent 10 Critical Violations</button>
                        </form>
                    </div>
                    <div class="col-md-auto">
                        <form method="post">
                            <button type="submit" class="btn btn-outline-primary"  value="Most non-critical" name="btn_mostNonCritical">Most Recent 10 non-critical Violations</button>
                        </form>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="container bm-5 tm-5 text-center">
                    <h4>Search for Inspection/Violation Records</h4>
                    <form method="post" class="form">
                        <div class="row mb-3">
                            <div class="col">
                            <label for="district" class="form-label">District</label>
                            <select name="district" id="district" class="form-select">
                                <option value="None">None</option>
                                <option value="Manhattan">Manhattan</option>
                                <option value="Bronx">Bronx</option>
                                <option value="Queens">Queens</option>
                                <option value="Brooklyn">Brooklyn</option>
                                <option value="Staten Island">Staten Island</option>
                            </select>
                            </div>

                            <div class="col">
                            <label for="cflag" class="form-label">Critical Level</label>
                            <select name="cflag" id="cflag" class="form-select">
                                <option value="None">None</option>
                                <option value="Not Critical">Not Critical</option>
                                <option value="Critical">Critical</option>
                                <option value="Not Applicable">Not Applicable</option>
                            </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="vio_keyword" class="form-label">Violation Keywords</label>
                            <input type="vio_keyword" name="vio_keyword" id="vio_keyword" class="form-control"/>
                        </div>

                        <div class="mb-3">
                            <label for="ins_keyword" class="form-label">Inspection Keywords</label>
                            <input type="ins_keyword" name="ins_keyword" id="ins_keyword" class="form-control"/>
                        </div>
                        <button type="submit"  name='violationsearch' value="Search" class="btn btn-primary" >Search</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="container bm-5 tm-5">
            <h1>Results</h1>

            <div class="container">
                <table class="table table-hover">
                    {%if data%}
                    <tr>
                        <th>Restaurant ID</th>
                        <th>Name</th>
                        <th>Violation Date</th>
                        <!-- <th>Violation Code</th> -->
                        <th>Violation Description</th>
                        <th>Violation Flag</th>
                    </tr>
                    {%endif%} {% for n in data %}
                    <tr>
                        <td>{{n[0]}}</td>
                        <td><a href="{{ url_for('functions.page', rid=n[0]) }}">{{n[1]}}</a></td>
                        <td>{{n[2]}}</td>
                        <!-- <td>{{n[3]}}</td> -->
                        <td>{{n[4]}}</td>
                        <td>{{n[5]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="container">
                <table class="table table-hover">
                {%if result%}
                <tr>
                    <th>Inspection Date</th>
                    <th>Inspection Type</th>
                    <th>Restaurant ID</th>
                    <th>Name</th>
                    <th>Violation Description</th>
                    <th>Critical Flag</th>
                </tr>
                {%endif%} {% for n in result %}
                <tr>
                    <td>{{n[0]}}</td>
                    <td>{{n[1]}}</td>
                    <td>{{n[2]}}</td>
                    <td><a href="{{ url_for('functions.page', rid=n[2]) }}">{{n[3]}}</a></td>
                    <td>{{n[4]}}</td>
                    <td>{{n[5]}}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
            {%if not result and not data%}
            <div>No available results!</div>
            {%endif%}
        </div>
    </body>
</html>
