<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='my.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">NYC RestaurantDB</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/functions/restaurants">Restaurant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/functions/violations">Inspections and Violations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help/helppage">Help</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown dropstart">
              <a
                class="nav-link zctive dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                User
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/userpage/userinfo">My Page</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container -fluid">
      <div class="container mb-5 mt-5">
        <h3><i class="bi bi-person-circle"></i> My Profile</h3>
        <div><strong>User id:</strong> {{user_info[0]}}</div>
        <div><strong>Name:</strong> {{user_info[1]}}</div>
        <div><strong>District:</strong> {{user_info[2]}}</div>
      </div>

      <div class="container mb-4">
        <h4><i class="bi bi-hand-thumbs-up"></i> Liked Restaurants</h4>
        <table class="table table-hover" style="table-layout: fixed">
          {%if like%}
          <tr>
            <th scope="col" class="th-sm">Restaurant id</th>
            <th scope="col" class="th-sm">Restaurant Name</th>
          </tr>
          {%endif%} {% for n in like %}
          <tr>
            <td>{{n[1]}}</td>
            <td><a href="{{ url_for('functions.page', rid=n[1]) }}">{{n[2]}}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="container mb-4">
        <h4><i class="bi bi-hand-thumbs-down"></i> Disliked Restaurants</h4>
        <table class="table table-hover" style="table-layout: fixed">
          {%if dislike%}
          <tr>
            <th scope="col" class="th-sm">Restaurant id</th>
            <th scope="col" class="th-sm">Restaurant Name</th>
          </tr>
          {%endif%} {% for n in dislike %}
          <tr>
            <td>{{n[1]}}</td>
            <td><a href="{{ url_for('functions.page', rid=n[1]) }}">{{n[2]}}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="container mb-4">
        <h4>Commented Restaurants</h4>
        <table class="table table-hover" style="table-layout: fixed">
          {%if comment%}
          <tr>
            <th scope="col" class="th-sm">Restaurant id</th>
            <th scope="col" class="th-sm">Restaurant Name</th>
          </tr>
          {%endif%} {% for n in comment %}
          <tr>
            <td>{{n[1]}}</td>
            <td><a href="{{ url_for('functions.page', rid=n[1]) }}">{{n[2]}}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
