{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="username">Username</label>
  <input name="username" id="username" required />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <label for="role">role:</label>
  <select name="roles" id="roles">
    <option value="admin">admin</option>
    <option value="government staff">government staff</option>
    <option value="customer">customer</option>
  </select>
  <input type="submit" value="Log In" />
</form>
{% endblock %}
